
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7ba36e1;
  }
    
  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 50px;
  }
    
  h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 30px;
  }
   
  p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header_social-p{
    font-size: 8px;
    color: rgb(3, 11, 129);
    text-align:right ;
  }
  
  section {
    background-color: rgb(235, 198, 130);
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .header {
    background-size: cover;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLpBT2SK2Q7O38tG2K4z2ylCQwVlzcRoadQQ&usqp=CAU");
    background-position: center;
    color: #fff;
    padding: 10px;
  }
  .carousel-item img {
    width: 400px;
    height: 400px; 
    display: block;
    object-fit:scale-down; 
  } 
  .container1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f1cd97; 
    
  }
  .footer{
    background-size: cover;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLpBT2SK2Q7O38tG2K4z2ylCQwVlzcRoadQQ&usqp=CAU");
    background-position: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    
  }
  /*.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    /* Добавляем отступы между фотографиями 
    gap: 10px;
    /* Устанавливаем выравнивание по центру 
    justify-content: center;
  }
  
  .carousel-inner img {
    width: 100%;
    height: auto;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }
  */
  
  /* Добавляем медиа-запросы для разных ширин экрана */
  @media (max-width: 720px) {
    .carousel-item img {
      width: 300px;
      height: 300px; 
    }
  }
  
  @media (max-width: 450px) {
    .carousel-item img {
      width: 200px;
      height: 200px; 
    }
  } 
  /*a:visited {
    color: rgba(2, 23, 26, 0.911);
  }
  a:hover {
    color: rgb(247, 63, 7);
  }*/
  a:link, a:visited {
    
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
 
  a:hover, a:active {
    color: #8000f7;
  }
  .header-social-img img{
    border-radius: 50%;
    width: 30px;
    height: auto;
  }
  .header-social-img {
    display: flex;
    justify-content: right;
    height: auto;
  }
  .header-hyperlink{
    justify-content: space-evenly;
    display: flex;
    align-items: flex-end;
  }
  .header-logo img{
    border-radius: 70%;
    width: 70px;
    
  }
  .social_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }