/* общие стили  */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
  }
  
  /* стиль для заголовка */
  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 50px;
  }
  
  /* стиль для подзаголовка */
  h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 30px;
  }
  
  /* стиль для основного текста */
  p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* стиль для изображения */
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  /* стиль для кнопок */
  .button {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #666;
  }
  
  /* стиль для блока с фоном */
  .section {
    background-color: #fff;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }